$primary-color: #26816b;
$primary-color-light: #4fb098;
$light-gren-color: #26b3cc;
$grey-color: #6f6f6f;
$blue-color: #00aeef;
$yellow-dark-color: #ffc107;
$grey-light-color: #fafafa;
$grey-light-color-1: #eaeaea;
$grey-dark-color-1: #999999;

$shadow-grey-dark: rgba(0, 0, 0, 0.12);
