@import '../base/variables.scss';
@import '../base/mixins.scss';
@import '../base/functions.scss';

.card {
  &Title {
    background-color: $primary-color;
    color: #fff;
  }

  &Header {
    &Container {
      margin-right: 0.6rem;
      margin-top: 8px;
    }

    &Button {
      color: #fff !important;
      border: 1px solid #fff !important;
    }
  }

  &News {
    &Title {
      font-weight: 500;
    }

    &Description {
      @include margin-tb-sm;
    }

    &Divider {
      @include margin-tb-sm;
      background-color: $primary-color;
    }

    &Margin {
      margin-top: 2.5rem;
    }

    &ButtonContainer {
      @include flex-end;
    }
  }
}

.schedule {
  &Container {
    height: 100%;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid $shadow-grey-dark;
  }

  &Header {
    position: relative;
    display: flex;
    background: $primary-color;
    height: 120px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &Text {
      @include flex-column-center;
      color: #fff;
      font-size: 23px;
      margin-left: 25%;
    }
  }

  &Date {
    box-shadow: 2.8px 2.8px 3.6px 0.4px getBlackShadow(0.21);
    border-top-right-radius: 0;
    position: absolute;
    margin-left: 20px;
    background: #fff;
    height: 130px;
    width: 100px;
    @include flex-center;
    color: $primary-color;

    &Number {
      font-size: 60px;
    }

    &Month {
      font-size: 20px;
      margin-top: -10px;
    }
  }

  &Content {
    padding: 50px;
    font-size: 16px;

    &Header {
      color: $primary-color;
    }

    &LessonRow {
      margin-top: 30px;
      position: relative;
    }

    &VerticalLine {
      height: 30px;
      position: absolute;
      right: 13px;
      top: 38px;
      border: 1px solid $grey-color;

      &NotEnded {
        border: 1px solid $primary-color;
      }
    }
  }
}

.lessonRow {
  &Container {
    display: flex;
    color: $primary-color;
    font-size: 16px;
    position: relative;
  }

  &Time {
    width: 98px;
  }

  &Topic {
    margin-left: 97px;
    margin-top: -5px;
  }

  &StatusShape {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: auto;
    background: $grey-color;

    &Ongoing {
      background: $blue-color;
    }

    &NotStarted {
      background: $primary-color;
    }
  }
}

.noContent {
  &Container {
    text-align: center;
    > img {
      width: 720px;
      height: 409px;
    }
  }

  &Title {
    font-size: 34px;
  }

  &Subtitle {
    font-size: 16px;
  }

  &ButtonContainer {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    padding-bottom: 4rem;
  }

  &InterButtonText {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 900px) {
  .noContent {
    &Container {
      > img {
        width: 360px;
        height: 204px;
      }
    }

    &ButtonContainer {
      width: 100%;
      margin: 0 auto;
      display: block;
      margin-top: 3rem;
    }

    &InterButtonText {
      padding: 0.5rem 2rem;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .scheduleHeaderText {
    margin-left: 30%;
  }

  .scheduleDate {
    margin-left: 10px;
  }

  .lessonRow {
    &Time {
      width: 50px;
    }

    &Title {
      @include text-wrap-dots;
      width: 150px;
      overflow: hidden;
    }

    &Topic {
      @include text-wrap-dots;
      margin-left: 50px;
      width: 200px;
      overflow: hidden;
    }
  }
}

@media only screen and (max-width: 600px) {
  .scheduleHeaderText {
    font-size: 16px;
    margin-left: 37%;
  }

  .scheduleContent {
    padding: 25px;
  }

  .lessonRow {
    &Topic {
      width: 150px;
    }
  }

  .noContent {
    &Container {
      > img {
        width: 250px;
        height: 154px;
      }
    }

    &Title {
      font-size: 28px;
    }
  }
}
