@import '../base/mixins.scss';
@import '../base/variables.scss';
@import '../base/functions.scss';

$card-width: 344px;
$card-mobile-width: 200px;
$padding: 17px;

@media screen and (min-width: 1500px) {
  .myCoursesWrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 1100px) {
  .myCourses {
    &Wrapper {
      padding: unset;
    }
  }
}

@media only screen and (max-width: 768px) {
  .contentCard {
    margin: initial !important;
  }

  .card {
    &Wrapper {
      margin-top: 1rem;
      width: $card-mobile-width;
    }

    &Image {
      > img {
        width: $card-mobile-width;
      }
    }
  }

  .myCoursesHeader {
    flex-direction: column;
    align-items: center;

    &RightWrapper {
      margin-left: initial !important;
      margin-top: 1rem;
    }
  }

  .pageDots {
    &Wrapper {
      margin-top: 1.3rem;
    }
  }
}

.myCoursesHeader {
  @include flex-vert-align;

  &LeftWrapper {
    @include flex-vert-align;

    > svg {
      fill: $yellow-dark-color;
    }

    > span {
      margin-left: 10px;
    }
  }

  &RightWrapper {
    margin-left: auto;
  }
}

.content {
  @include flex-horizontal-center;
  flex-wrap: wrap;

  &Card {
    margin: 2rem;
  }
}

.card {
  &Wrapper {
    position: relative;
    width: $card-width;
    height: 360px;
    padding: 0 0 14px;
    border-radius: 4px;
    box-shadow: 2.8px 2.8px 3.6px 0.4px getBlackShadow(0.25);
    background-color: $grey-light-color;
  }

  &Image {
    > img {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      width: $card-width;
      height: 194px;
    }
  }

  &TeacherPhoto {
    position: absolute;
    top: 40%;
    right: 5%;

    > img {
      object-fit: cover;
      width: 102px;
      height: 103px;
      border-radius: 50%;
    }
  }

  &Content {
    padding-left: $padding;
    padding-right: $padding;
    margin-top: 30px;

    &Title {
      font-size: 16px;
    }

    &Description {
      @include reset-font;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;

      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      height: 40px;
      margin-top: 10px;
    }
  }

  &Button {
    &Container {
      margin-top: 10px;
      padding-right: $padding;
      @include flex-end;
    }
  }
}

.pageDots {
  &Wrapper {
    @include flex-horizontal-center;
    align-items: center;
    width: 100%;

    & .dot {
      margin: 10px;
      height: 15px;
      width: 15px;
      background: $grey-color;
      border-radius: 50%;
      cursor: pointer;
    }

    & .active {
      background: $primary-color;
    }
  }
}

.singlePage {
  @media screen and (min-width: 768px) {
    padding: 20px;
  }

  .info {
    box-shadow: 5.7px 5.7px 7.4px 0.6px getBlackShadow(0.2);
    background-color: $grey-light-color-1;

    @media screen and (max-width: 768px) {
      margin-top: 1rem;
    }

    @media screen and (min-width: 768px) and (max-width: 1270px) {
      background-color: initial;
      box-shadow: none;
    }

    padding: 20px;
    border-radius: 5px;
    text-align: center;

    .teacher {
      &Image {
        text-align: center;
        width: 248px;
        height: 248px;
        border-radius: 50%;
        object-fit: cover;
      }

      &Name {
        margin-top: 10px;
      }

      @media screen and (max-width: 1400px) {
        &Image {
          width: 140px;
          height: 140px;
        }

        &Name {
          margin-top: 0;
        }
      }

      @media screen and (max-width: 768px) {
        &Image {
          width: 140px;
          height: 140px;
        }

        &Name {
          margin-top: 0;
        }
      }

      &Info {
        margin-top: 1rem;
        text-align: start;
        > * img {
          width: 18px;
          height: 18px;
          margin-left: 2px;
        }

        svg {
          width: 21px;
        }
      }
    }
  }

  .courseInfo {
    button {
      width: 100%;
      margin: 1rem 0px;
    }

    @media screen and(min-width: 768px) {
      margin-top: 1rem;
      .header {
        display: flex;
        align-items: center;
        button {
          width: initial;
          margin-left: auto;

          svg {
            margin-right: 5px;
          }
        }
      }
    }

    .name {
      font-size: 30px;
    }

    .description {
      margin-top: 10px;
    }
  }

  .courseLesson {
    display: flex;
    margin-top: 2rem;
    border-radius: 4px;
    box-shadow: 2.8px 2.8px 7.4px 0.6px getBlackShadow(0.17);

    .decor {
      width: 45px;
      background-image: url('/images/lesson-decor.jpg');
      background-size: cover;
    }

    .contentWrapper {
      padding: 1rem;
    }

    .name {
      font-size: 20px;
    }

    .description,
    .date {
      margin-top: 10px;
    }
  }
}

.searchFieldWrapper {
  display: flex;
  margin-top: 0.5rem;
  .field {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    .field {
      width: unset;
      margin-left: auto;
    }
  }
}

.textIcon {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  span {
    margin-left: 10px;
  }
}
